body {
    font-family: 'Quicksand', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #222;
}

.all-container {
    width: 100%;
}

.navbar {
    background: #000;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #fff;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.navbar .sm-screen-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .all-container {
    display: flex;
    flex-flow: column;
}

.navbar button {
    padding: 1em;
    background: transparent;
    border: 2px solid #444;
}

.navbar ul {
    display: none;
}

.navbar ul li {
    padding-right: 2em;
}

.navbar ul li a {
    color: #aaa;
}

.navbar ul li:hover a {
    color: #f33;
}

h2 {
    font-size: 2em;
    text-align: center;
    padding: 2vh 0;
}

h2::after {
    content: '';
    display: block;
    width: 2em;
    height: .2vh;
    background: #f33;
    margin: 1vh auto 0 auto;
}

#home-section .all-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-image: url("img/adorable-animal.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    clip-path: polygon(50% 0%, 100% 0, 100% 85%, 69% 100%, 0 90%, 0 0); /*Zastanów się czy na pewno chcesz to używać bo nie ma najlepszego wsparcia*/
}

#home-section .all-container a img {
    width: 3em;
    margin-top: 2vh;
    animation-name: clickMe;
    animation-duration: 1.5s;
    animation-delay: .3s;
    animation-iteration-count: infinite;
}

#home-section .all-container h1 {
    font-size: 4.5em;
    text-align: center;
    margin-bottom: 2.5vh;
    letter-spacing: .1vw;
}

#home-section .all-container small {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
}

#home-section .all-container small span{
    display: inline-block;
    margin: 0 1vw;
}

@keyframes clickMe {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-2vh);
    }

    55% {
        transform: translateY(0%);
    }

    70% {
        transform: translateY(-1vh);
    }

    100% {
        transform: translateY(0);
    }
}