h2 
    font-size: 2em
    text-align: center
    padding: 2vh 0
    margin-top: 10vh

h2::after 
    content: ''
    display: block
    width: 2em
    height: .2vh
    background: #b7d9b4
    margin: 1vh auto 0 auto
