#about-section 
    display: flex
    flex-flow: column
    text-align: center
    align-items: center
    justify-content: center
    padding-bottom: 12vh

#about-section img 
    max-width: 90%
    border-radius: 100%
    box-sizing: border-box

#about-section p:first-child 
    font-size: 2em
    padding: 3.5vh 0

#about-section p:last-child 
    padding: 0 4vw
    line-height: 200%

@media screen and (min-width: 1000px)
    #about-section 
        padding-bottom: 0vh

    #about-section .all-container div 
        display: flex
        align-items: center

    #about-section .all-container div article 
        text-align: left

    #about-section img 
        width: 20vw

    #about-section .all-container div article p:first-child 
        padding: 0 4vw 3vh 4vw
    