#home-section 
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    flex-flow: column
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    background-image: url("../img/adorable-animal.jpg")    
    clip-path: polygon(50% 0%, 100% 0, 100% 93%, 35% 100%, 0 90%, 0 0)

    .all-container 
        display: flex
        align-items: center
        justify-content: center
        flex-flow: column
        color: #fff

        a img 
            width: 10vw
            margin-top: 2vh
            animation-name: clickMe
            animation-duration: 1.5s
            animation-delay: .3s
            animation-iteration-count: infinite

        h1 
            font-size: 10vh
            text-align: center
            margin-bottom: 2.5vh
            letter-spacing: .1vw
            margin-top: 10vh
            text-shadow: .1vh .1vw 1vh #000

        small 
            font-size: 2.5vh
            text-transform: uppercase
            text-align: center

            span 
                display: inline-block
                margin: 0 1vw

@media screen and (min-width: 650px)
    #home-section .all-container

        h1
            font-size: 7.5vh

        small
            font-size: 2vh

        a img
            width: 5vw

@media screen and (min-width: 1000px)
    #home-section .all-container

        h1
            font-size: 7vh

        small
            font-size: 1.75vh

        a img
            width: 2.5vw
