.navbar 
    position: fixed
    top: 0
    z-index: 100
    background-color: #fff
    width: 100%
    font-size: 2.5vh

.navbar .sm-screen-menu 
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1em

.navbar .all-container 
    display: flex
    flex-flow: column

.navbar button
    width: 10vw
    transition: transform .15s ease-in-out

    &:hover
        transform: scale(1.1)
        transition: transform .2s ease-in-out

#menu 
    padding: 0 1em 1em 1em
    display: none

.navbar ul li 
    line-height: 150%

@media screen and (min-width: 550px)
    .navbar button
        width: 5vw

@media screen and (min-width: 1000px)
    .navbar 
        font-size: 1.65vh

    .navbar .all-container 
        display: flex
        align-items: center
        justify-content: space-between
        flex-flow: row

    .navbar .sm-screen-menu button
        display: none

    .navbar #menu
        display: flex
        align-items: center
        justify-content: center
        padding: 0

    .navbar ul li 
        
        margin-right: 1vw    