#service-section 
    clip-path: polygon(35% 10%, 100% 0, 100% 93%, 35% 100%, 0 90%, 0 0)
    background: #eee
    padding: 5vh 0 15vh 0
    text-align: center

    img 
        width: 15vw
        margin-bottom: 1.5vh

        &:first-child 
            margin-top: 2.5vh

    h4 
        font-size: 3.5vh
        color: #222
        margin-bottom: 3vh

    p 
        font-size: 3vh
        padding: 0 4vw
        line-height: 165%

.service:first-child 
    margin-bottom: 3vh 

@media screen and (min-width: 1000px)
    .services-container 
        display: flex
    
    .service 
        display: flex
        justify-content: center
        flex-flow: column
        width: 50%

        img
            height: 20vh

    .service-img 
        margin-bottom: 2vh

    #service-section 
        
        p 
            font-size: 1.7vh
            line-height: 230%
            text-align: center
    
        h4
            font-size: 2.5vh