.my-skills
  min-height: 50vh

  ul

    li
      margin: 2vh 0
      font-size: 2.75vh
      font-weight: 500
      letter-spacing: 1px

      h2
        font-size: 3.25vh
        font-weight: bold
        letter-spacing: 1px
        color: #555
        margin: 1.75vh

      .added
        font-size: 1.7vh
        font-weight: lighter
        text-transform: uppercase
